version: '3.8'

include:
    - proxy.yaml

x-env_file: &env_file
    env_file:
        - .env

services:
    web:
        image: cr.yandex/crpg91gu4q01tdnq3j8d/python-slim
        networks:
            backend:
                ipv4_address: 172.20.0.5
        restart: always
        environment:
            DB_HOST: db
            DB_PORT: 3306
            DB_NAME: ${MYSQL_DATABASE}
            DB_USER: ${MYSQL_USER}
            DB_PASSWORD: ${MYSQL_PASSWORD}
        <<: *env_file
        depends_on:
            - db
    db:
        image: mysql:8
        networks:
            backend:
                ipv4_address: 172.20.0.10
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        <<: *env_file
        volumes:
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql  # Добавьте эту строку
            - mysql_data:/var/lib/mysql

networks:
    backend:
        driver: bridge
        ipam:
            config:
                - subnet: 172.20.0.0/24

volumes:
    mysql_data: